<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="about_footer" routerLink="about">About</h6>
          <p class="text-justify">WinIsen est un site web qui permet de suivre les résultats des championnats de football.

            <br>Il a été réalisé dans le cadre du projet d'Angular de la formation Ingénieur de l'ISEN Toulon.
            
            <br>Il est développé en Angular 11 et utilise l'API Football Data.
            
            <br>Le code source est disponible sur GitHub.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Championships</h6>
          <ul class="footer-links">
            <li><a routerLink="competition/WC">Fifa World Cup</a></li>
            <li><a routerLink="competition/CL">UEFA Championpions League</a></li>
            <li><a routerLink="competition/BSA">Campeonato Brasileiro Série A</a></li>
            <li><a routerLink="competition/ELC">Championship</a></li>
            <li><a routerLink="competition/PL">Premier League</a></li>
            <li><a routerLink="competition/FL1">Ligue 1</a></li>
            <li><a routerLink="competition/BL1">Bundesliga</a></li>
            <li><a routerLink="competition/PPL">Primeira Liga</a></li>
            <li><a routerLink="competition/EC">European Championship</a></li>
            <li><a routerLink="competition/SA">Serie A</a></li>
            <li><a routerLink="competition/DED">Eredivisie</a></li>
            <li><a routerLink="competition/CLI">Copa Libertadores</a></li>
            <li><a routerLink="competition/PD">Primera Division</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Teams</h6>
          <ul class="footer-links">
            <li><a routerLink="equipe/524">Paris Saint-Germain FC</a></li>
            <li><a routerLink="equipe/516">Olympique de Marseille</a></li>
            <li><a routerLink="equipe/81">FC Barcelone</a></li>
            <li><a routerLink="equipe/86">Real Madrid CF</a></li>
            <li><a routerLink="equipe/78">Club Atlético de Madrid</a></li>
            <li><a routerLink="equipe/77">Athletic Club</a></li>
            <li><a routerLink="equipe/82">Getafe CF</a></li>
            <li><a routerLink="equipe/558">RC Celta de Vigo</a></li>
            <li><a routerLink="equipe/61">Chelsea FC</a></li>
            <li><a routerLink="equipe/64">Liverpool FC</a></li>
            <li><a routerLink="equipe/65">Manchester City FC</a></li>
            <li><a routerLink="equipe/66">Manchester United FC</a></li>
            <li><a routerLink="equipe/563">West Ham United FC</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by WinIsen.
          </p>
        </div>
      </div>
    </div>
</footer>